<section id="contacto">
  <div data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
    <h2 class="titulo">Registro de recepción de paquete:</h2>
    <div class="contenedor-form p-2 bg-light">
      <form id="form-aplicacion" *ngIf="mostrarForm" [formGroup]="formAplicacion" #myForm="ngForm">

        <div class="form-group d-flex justify-content-between">
          <div class="flex-fill me-2">
            <label for="companyName">Empresa: </label><br>
            <input
              type="text"
              name="companyName"
              formControlName="companyName"
              class="form-control"
              [class.is-valid]="companyName!.valid"
              [class.is-invalid]="companyName!.touched && !companyName!.valid">
            <div class="mensaje-error" *ngIf="!companyName!.valid && (companyName!.dirty || companyName!.touched)">
              <div *ngIf="companyName!.errors?.['required']">{{ reqFieldName }}</div>
              <div *ngIf="companyName!.errors?.['stringValid']">{{ nameFieldValid }}</div>
            </div>
          </div>
          <div class="flex-fill ms-2">
            <label for="employeeName">Empleado que recibe: </label><br>
            <select class="form-control" formControlName="employeeName" name="employeeName">
              <option *ngFor="let employee of employees" [value]="employee.identification">
                {{ employee.name }} {{ employee.lastname }}
              </option>
            </select>
            <div class="mensaje-error" *ngIf="!employeeName!.valid && (employeeName!.dirty || employeeName!.touched)">
              <div *ngIf="employeeName!.errors?.['required']">{{ reqFieldName }}</div>
              <div *ngIf="employeeName!.errors?.['stringValid']">{{ nameFieldValid }}</div>
            </div>
          </div>
        </div>

        <div class="input-text">
          <!-- <mat-form-field class="input-text">
            <mat-label>Persona Destino</mat-label>
            <input matInput placeholder="Buscar persona por identificación" formControlName="personaDestino" (input)="searchPersona($event)">
            <mat-select formControlName="personaDestino" (selectionChange)="onPersonaSelect($event)">
              <mat-option *ngFor="let person of people" [value]="person.idNumber">
                {{ person.firstName }} {{ person.lastName }}
              </mat-option>
            </mat-select>
            <div class="mensaje-error" *ngIf="!personaDestinoField?.valid && (personaDestinoField?.dirty || personaDestinoField?.touched)">
              <div *ngIf="personaDestinoField?.errors?.['required']">Este campo es requerido</div>
            </div>
          </mat-form-field> -->

           <mat-form-field>
            <mat-select formControlName="personaDestinoField" placeholder="Bank">
              <mat-option>
                <ngx-mat-select-search formControlName="personaDestinoSearch" ></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let person of people" [value]="person.idNumber">
                {{ person.firstName }} {{ person.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
<!--
          <mat-form-field>
            <mat-label>Nombre Completo</mat-label>
            <input 
              matInput 
              [value]="selectedPersonaName" 
              readonly 
            />
          </mat-form-field> -->
        </div>

        <div class="form-group">
          <p>¿El destinatario ya está registrado?</p>
          <div>
            <input type="radio" id="si" name="fav_language" value="SI">
            <label for="si">SI</label><br>
            <input type="radio" id="no" name="fav_language" value="NO">
            <label for="no">NO</label><br>
          </div>
        </div>

        <p>Datos de destinatario:</p>

        <div class="form-group">
          <label for="firstName">Primer nombre:</label>
          <input
            type="text"
            name="firstName"
            formControlName="firstName"
            class="form-control"
            [class.is-valid]="firstName!.valid"
            [class.is-invalid]="firstName!.touched && !firstName!.valid">
          <div class="mensaje-error" *ngIf="!firstName!.valid && (firstName!.dirty || firstName!.touched)">
            <div *ngIf="firstName!.errors?.['required']">{{ reqFieldName }}</div>
            <div *ngIf="firstName!.errors?.['stringValid']">{{ nameFieldValid }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="secondName">Segundo nombre:</label>
          <input
            type="text"
            name="secondName"
            formControlName="secondName"
            class="form-control"
            [class.is-valid]="secondName!.valid"
            [class.is-invalid]="secondName!.touched && !secondName!.valid">
          <div class="mensaje-error" *ngIf="!secondName!.valid && (secondName!.dirty || secondName!.touched)">
            <div *ngIf="secondName!.errors?.['required']">{{ reqFieldName }}</div>
            <div *ngIf="secondName!.errors?.['stringValid']">{{ nameFieldValid }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="middleName">Primer apellido:</label>
          <input
            type="text"
            name="middleName"
            formControlName="middleName"
            class="form-control"
            [class.is-valid]="middleName!.valid"
            [class.is-invalid]="middleName!.touched && !middleName!.valid">
          <div class="mensaje-error" *ngIf="!middleName!.valid && (middleName!.dirty || middleName!.touched)">
            <div *ngIf="middleName!.errors?.['required']">{{ reqFieldName }}</div>
            <div *ngIf="middleName!.errors?.['stringValid']">{{ nameFieldValid }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Segundo apellido:</label>
          <input
            type="text"
            name="lastName"
            formControlName="lastName"
            class="form-control"
            [class.is-valid]="lastName!.valid"
            [class.is-invalid]="lastName!.touched && !lastName!.valid">
          <div class="mensaje-error" *ngIf="!lastName!.valid && (lastName!.dirty || lastName!.touched)">
            <div *ngIf="lastName!.errors?.['required']">{{ reqFieldName }}</div>
            <div *ngIf="lastName!.errors?.['stringValid']">{{ nameFieldValid }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="idType">Tipo de identificación:</label>
          <select class="form-control" formControlName="idType" name="idType">
            <option *ngFor="let idType of identifications" [value]="idType.id">
              {{ idType.idType }} - {{ idType.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="idNumber">Número de documento:</label>
          <input
            type="number"
            name="idNumber"
            formControlName="idNumber"
            class="form-control"
            [class.is-valid]="idNumber!.valid"
            [class.is-invalid]="idNumber!.touched && !idNumber!.valid">
          <div class="mensaje-error" *ngIf="!idNumber!.valid && (idNumber!.dirty || idNumber!.touched)">
            <div *ngIf="idNumber!.errors?.['required']">{{ reqFieldName }}</div>
            <div *ngIf="idNumber!.errors?.['min']">{{ idNumberValid }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input
            type="number"
            name="telefono"
            formControlName="telefono"
            class="form-control"
            [class.is-valid]="telefonoField!.valid"
            [class.is-invalid]="telefonoField!.touched && !telefonoField!.valid">
          <div class="mensaje-error" *ngIf="!telefonoField!.valid && (telefonoField!.dirty || telefonoField!.touched)">
            <div *ngIf="telefonoField!.errors?.['required']">{{ reqFieldName }}</div>
            <div *ngIf="telefonoField!.errors?.['min']">{{ phoneFieldValid }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Correo:</label>
          <input
            type="email"
            name="email"
            formControlName="email"
            class="form-control"
            [class.is-valid]="emailField!.valid"
            [class.is-invalid]="emailField!.touched && !emailField!.valid">
          <div class="mensaje-error" *ngIf="!emailField!.valid && (emailField!.dirty || emailField!.touched)">
            <div *ngIf="emailField!.errors?.['required']">{{ reqFieldName }}</div>
            <div *ngIf="emailField!.errors?.['email']">{{ reqFieldName }}</div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>

    <!-- <h2 *ngIf="!mostrarForm" style="text-align: center;">{{responseField}}</h2> -->
  </div>
</section>
